<!DOCTYPE html>
<html lang="en">
  <head>
    <title>STRR Host Registration Certificate</title>
    <meta charset="UTF-8">
    <meta name="author" content="BC Registries and Online Services">
  </head>
  <body>
    <div style="width:800px; height:600px; padding:20px; text-align:center; border: 10px solid #787878">
        <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
               <span style="font-size:50px; font-weight:bold">Host Registration Certificate</span>
               <br><br>
               <span style="font-size:25px"><i>Congrats you are registered.</i></span>
               <br><br>
               <span style="font-size:30px"><b>Registration Number: {{ registration_number }}</b></span><br/><br/>
               <span style="font-size:25px"><i>Issued: {{ creation_date }}</i></span> <br/><br/>
               <span style="font-size:30px">Expiry Date: {{ expiry_date }}</span> <br/><br/>
        </div>
        </div>
  </body>
</html>
